body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* Colors */
    --color-white: #fff;
  
    /* Gaps */
    --gap-57xl: 76px;
    --gap-39xl: 58px;
  
    /* Paddings */
    --padding-22xl: 41px;
    --padding-lg: 18px;
  }
  