.logo-icon {
    width: 270px;
    height: 52.6px;
    position: relative;
    z-index: 1;
  }
  .landing-page,
  .travel {
    margin: 0;
  }
  .travel-landing-page-container {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 117.52%;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
  }
  .sub-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 21px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .free-figma-template {
    position: relative;
    letter-spacing: -0.04em;
    line-height: 117.52%;
    z-index: 1;
  }
  .figma-icon {
    height: 55.1px;
    width: 55.1px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .free-download {
    position: relative;
    font-size: 28px;
    line-height: 117.52%;
    font-family: var(--font-inter);
    color: #0f0f0f;
    text-align: left;
  }
  .download-button,
  .template-frame {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .download-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg) 35px var(--padding-lg) 36px;
    background-color: var(--color-white);
    border-radius: 100px;
    box-shadow: 0 64px 95.85px rgba(58, 58, 58, 0.2);
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 0 11px;
    white-space: nowrap;
    z-index: 1;
  }
  .download-button:hover {
    background-color: #e6e6e6;
  }
  .template-frame {
    flex-direction: column;
    align-items: flex-start;
    gap: 58px 0;
    flex-shrink: 0;
    font-size: 45.5px;
  }
  .container-frame-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 151px;
    transform: scale(1.398);
  }
  .wrapper-container-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 2740px;
    height: 1644px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-frame-icon1 {
    height: 100%;
    max-height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 18px;
    transform: scale(1.036);
  }
  .wrapper-container-frame1 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 958px;
    width: 1704px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background-rectangle {
    width: 2740px;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    bottom: 0;
    left: calc(50% - 1370px);
  }
  .thumbnail {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 166px 82px 207px;
    box-sizing: border-box;
    gap: 76px 0;
    letter-spacing: normal;
    text-align: left;
    font-size: 68px;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 750px) {
    .travel-landing-page-container {
      font-size: 54px;
      line-height: 64px;
    }
    .free-figma-template {
      font-size: 36px;
      line-height: 43px;
    }
  }
  @media screen and (max-width: 675px) {
    .thumbnail {
      gap: 76px 0;
      padding-left: var(--padding-22xl);
      padding-right: var(--padding-22xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .travel-landing-page-container {
      font-size: 41px;
      line-height: 48px;
    }
    .free-figma-template {
      font-size: 27px;
      line-height: 32px;
    }
    .template-frame {
      gap: 58px 0;
    }
    .thumbnail {
      gap: 76px 0;
    }
  }
  