@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

:root {
--primary-color: #0af64d;
--primary-color-dark: #054e05;
--secondary-color: #262020;
--text-dark: #b1c5e3;
--extra-light: #ffffff;

--max-width: 300px;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

a {
text-decoration: none;
}

body {
font-family: "Poppins", sans-serif;
}

.container {
min-height: 100vh;
background-color: var(--secondary-color);
display: flex;
}

.container__left,
.container__right {
flex: 1;
position: relative;
;
}

.box1 {
position: absolute;
height: 100%;
width: 400px;
top: 0;
right: 5rem;
text-align: center;
background-color: var(--extra-light);
}

.box1 h1 {
padding: 2rem;
font-size: 2.5rem;
font-weight: 800;
color: var(--text-dark);
font-family: 'Times New Roman', Times, serif;
}

.box1 h1 span {
color: var(--primary-color);
}

.box2 {
position: absolute;
top: 50%;
transform: translateY(-40%);
width: 100%;
height: 350px;
background-color: var(--primary-color);
}

.container__left img {
position: absolute;
bottom: 0;
right: calc(5rem + 40px);
width: 320px;
}

.container__right {
padding-left: 2rem;
display: flex;
align-items: center;
justify-content: flex-start;
}

.navbar {
padding: 2.5rem 0;
position: absolute;
top: 0;
display: flex;
align-items: center;
gap: 3rem;
}

.navbar span {
padding: 0.5rem;
color: var(--extra-light);
font-size: 1rem;
font-weight: 500;
transition: 0.3s;
}

.navbar span:hover {
color: var(--primary-color);
cursor: pointer;
}

.navbar .join {
width: 80px;
text-align: center;
font-weight: 500px;
border-radius: 5rem;
background-color: var(--primary-color);
color: var(--extra-light) !important;
transition: 0.3s;
}

.navbar .join:hover {
background-color: var(--primary-color-dark);
}

.content {
max-width: var(--max-width);
display: grid;
gap: 1rem;
}

.content h1 {
color: var(--extra-light);
font-size: 4rem;
line-height: 4rem;
}

.content h1 span {
color: var(--primary-color);
}

.content p {
color: var(--extra-light);
}

.carousal {
position: absolute;
bottom: 4rem;
width: calc(100% - 5rem);
display: flex;
align-items: center;
gap: 1rem;
}

.carousal .slide {
flex: 1;
height: 125px;
border-radius: 5px;
cursor: pointer;
overflow: hidden;
}

.carousal .slide .slideimage {
height: 100%;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
transition: 0.3s;
}

.carousal .slide:hover .slideimage {
scale: 1.1;
}

.carousal .slide:nth-child(1) .slideimage {
background-image: url("hendry.jpg");
}

.carousal .slide:nth-child(2) .slideimage {
background-image: url("jt.jpeg");
}

.carousal .slide:nth-child(3) .slideimage {
background-image: url("white\ ben.jpg");
}

.carousal .play {
position: absolute;
top: 50%;
right: 0;
transform: translate(50%, -50%);
height: 40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100%;
font-size: 2rem;
color: var(--extra-light);
background-color: var(--primary-color);
box-shadow: 0px 5px 15px var(--primary-color);
cursor: pointer;
transition: 0.3s;
}

.carousal .slide .play:hover {
background-color: var(--primary-color-dark);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #21bc4b;
}


section {
    text-align: center;
    margin: 20px;
}
.hi{
    text-align: center;
    margin: 20px;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 80px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p.hero-text {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.sticker-card {
    background-color: #413f3f;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
}

.sticker-card:hover {
    transform: scale(1.05);
}

.sticker-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

h2 {
    color: #101510;
}

button {
    background-color: #37d92e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #141616;
}

.features {
    background-color: #17e925;
    padding: 60px 20px;
}

.feature {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.feature-icon {
    font-size: 2em;
    color: #27bc45;
    margin-bottom: 20px;
}

h3.feature-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p.feature-text {
    color: #666;
    font-size: 1.1em;
}

footer {
    background-color: #1dce3a;
    color: #111210;
    padding: 20px;
    text-align: center;
}
